<div class="container">
  <h2>Listado de Usuarios</h2>

  <div class="d-flex justify-content-between mb-3">
    <button class="btn btn-primary" (click)="navigateTo('/usuario/new')">Nuevo Usuario</button>

    <select class="form-select w-25" [(ngModel)]="filtroUsuario" (change)="filtrarUsuarios()">
      <option value="">Todos</option>
      <option value="Demandante">Demandante</option>
      <option value="Empleado">Empleado</option>
    </select>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>NIF</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.nombre }} {{ usuario.apellido1 }} {{ usuario.apellido2 }}</td>
      <td>{{ usuario.tipo }}</td>
      <td>{{ usuario.nif }}</td>
      <td>
        <button class="btn btn-info btn-sm" (click)="navigateTo('/usuario/view/' + user.id)">Ver</button>
        <button class="btn btn-warning btn-sm" (click)="navigateTo('/usuario/edit/' + user.id)">Editar</button>
        <button class="btn btn-danger btn-sm" (click)="deleteUsuario(usuario.id, usuario.nombre)">Borrar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
